.container{
    padding: 50px;
    background-color: white;
    border-radius: 22px;
}

.icon{
    cursor: pointer;
}

.title_input{
    max-width: 300px;
}

.div_button{
    text-align: right;
}

.pre_content{
    white-space: pre-wrap;
}